<div class="container-fluid" data-ng-controller="homeController">
    <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="it in allNotes">
        <div class="col-xs-12 padding-10" ng-click="openNoteModal(false,it)"">
            <div class="note-box" ng-style="{'background-color': it.color !== null ? it.color : 'white'}" >
                <div class="row">
                    <div class="col-xs-12 font-bold word-wrap">
                        {{it.subject}}
                    </div>
                    <div class="col-xs-12 word-wrap clipped">
                        {{it.contents}}
                    </div>
                    <div class="col-xs-12 text-right">
                        <span am-time-ago="it.lastEdit">{{it.lastEdit}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-icon-icon btn-lg btn-float btn-round fab-bottom-right" ng-click="openNoteModal(true)">
        <i class="fa fa-plus"></i>
    </button>
</div>